<!doctype html>
<html ng-app="TMDB">

<head>
  <title>TMDb API CALL</title>
  <link rel="stylesheet" type="text/css" href="styles/cssReset.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.layouts.min.css">
  <link rel="stylesheet" type="text/css" href="styles/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.js" type="text/javascript"></script>
</head>

<body class="body" ng-cloak>
  <div class="body" ng-controller="moviesController">
    <div ng-init="popularMovies()">
      <div>
        <md-input-container>
          <md-button ng-click="goToPage(pageNumber)" ng-cloak class="md-raised md-primary">Go to Page</md-button>
          <md-input-container>
            <label class="white">Page</label>
            <input class="inputs" type="number" tmdb-enter="goToPage(pageNumber)" data-ng-model="pageNumber" ng-cloak min="1" max="{{ totalPages }}">
          </md-input-container>
        </md-input-container>
        <span ng-model="currentPage" ng-if="buttons" class="white">Page {{ currentPage }} of </span>
        <span ng-model="totalPages" ng-if="buttons" class="white">{{ totalPages }}</span>
        <div ng-if="buttons" class="myFlex" layout-align="center">
          <md-button ng-click="firstPage()" ng-cloak class="md-raised md-primary">First Page</md-button>
          <md-button ng-click="previousPage()" ng-cloak class="md-raised md-primary">Previous page</md-button>
          <md-button ng-click="nextPage()" ng-cloak class="md-raised md-primary">Next Page</md-button>
          <md-button ng-click="lastPage()" ng-cloak class="md-raised md-primary">Last Page</md-button>
        </div>
        <md-input-container>
          <md-button ng-click="search(movieName)" ng-cloak class="md-raised md-primary">Find a movie</md-button>
          <md-input-container>
            <label class="white">Search movie</label>
            <input class="inputs" type="text" ng-model="movieName" tmdb-enter="search(movieName)">
          </md-input-container>
        </md-input-container>
      </div>
      <input ng-model="yeta" type="text" style="color:red"></input>
      <md-button ng-click="backToSearch()" class="md-raised md-primary" ng-if="showcase">Back to results</md-button>
      <div class='md-padding position' layout="row" layout-xs="column" layout-wrap>
        <div></div>
        <div ng-repeat="movie in displayMovies" class=" card movieCard ng-cloak" ng-click="oneMovie(movie.id)" ng-model="popular" ng-if="popular">
          <div ng-if='!displayMovies'>
            <img src="./images/loading.gif">
          </div>
          <div ng-if='displayMovies' class="parent-overlay">
            <p class="white overlay-text"> Title: {{ movie.original_title }}</p>
            <br>
            <p class="white overlay-text"> Overview: {{ movie.overview }}</p>
            <div class="overlay image-container" ng-if='movie.backdrop_path'>
              <img class="images" src="http://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}">
            </div>
            <div ng-if='!movie.backdrop_path' class="overlay image-container">
              <img class="images" id='placeHolderImage' src="./images/no_photo.jpg">
            </div>
            <!-- <p class="white"> Title: {{ movie.original_title }}</p> -->
            <!-- <br>
            <p> Overview: {{ movie.overview }} </p>
            <br>
            <p> Popularity: {{ movie.popularity | number : 2 }} </p>
            <br>
            <p> Release Date: {{ movie.release_date }} </p> -->
            <!-- <img class="images" src="http://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}"> -->
          </div>
        </div>
        <md-card class="card ng-cloak" ng-model="showcase" ng-if="showcase">
          <md-card-content>
            <p> Title: {{ movieReel.title }} </p>
            <br>
            <p> Overview: {{ movieReel.overview }} </p>
            <br>
            <p> Popularity: {{ movieReel.popularity | number : 2 }} </p>
            <br>
            <p> Budget: {{ movieReel.budget | currency:"$":0 }} </p>
            <br>
            <p> Revenue: {{ movieReel.revenue | currency:"$":0 }} </p>
            <br>
            <p> Release date: {{ movieReel.release_date }} </p>
            <br>
          </md-card-content>
        </md-card>
      </div>
      <!-- Put these in a nice view, a popup or gallery display would be nice and cool -->
      <div class="" ng-if="showcase">
        <div ng-repeat="poster in posters">
          {{ poster.file_path }}
        </div>
        <div ng-repeat="backdrop in backdrops">
          {{ backdrop.file_path }}
        </div>
      </div>
    </div>
  </div>
</body>
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/services.js" type="text/javascript"></script>
<script src="scripts/controllers.js" type="text/javascript"></script>
<script src="scripts/directives.js" type="text/javascript"></script>

</html>
