<!doctype html>
<html ng-app="TMDB">

<head>
  <title>TMDb API CALL</title>
  <link rel="stylesheet" type="text/css" href="styles/cssReset.css">
  <link rel="stylesheet" type="text/css" href="styles/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js" type="text/javascript"></script>
</head>

<body ng-cloak>
  <div ng-controller="moviesController">
    <div ng-init="popularMovies()">
    <button ng-click="firstPage()">First Page</button>
    <button ng-click="previousPage()"> Previous page</button>
    <button ng-click="nextPage()"> Next page</button>
    <button ng-click="lastPage()">Last Page</button>
    <button ng-click="goToPage(pageNumber)">Go to Page</button>
    <input type="number" ng-model="pageNumber"></input>
    <button ng-click="backToSearch()">Back to results</button>
      <div ng-repeat="movie in displayMovies" class="oneMovie ng-cloak" ng-click="oneMovie(movie.id)" ng-model="popular" ng-if="popular">
        <p> Title: {{ movie.original_title }}</p>
        <br>
        <p> Overview: {{ movie.overview }} </p>
        <br>
        <p> Popularity: {{ movie.popularity | number : 2 }} </p>
        <br>
        <p> Release Date: {{ movie.release_date }} </p>
        <br>
      </div>
      <div class="oneMovie ng-cloak" ng-model="showcase" ng-if="showcase">
        <p> Title: {{ movieReel.title }} </p>
        <br>
        <p> Overview: {{ movieReel.overview }} </p>
        <br>
        <p> Popularity: {{ movieReel.popularity | number : 2 }} </p>
        <br>
        <p> Budget: {{ movieReel.budget | currency:"$":0 }} </p>
        <br>
        <p> Revenue: {{ movieReel.revenue | currency:"$":0 }} </p>
        <br>
        <p> Release date: {{ movieReel.release_date }} </p>
        <br>
      </div>
    </div>
    <div>
      <button ng-click="search(movieName)"> Find a movie</button>
      <input type="text" ng-model="movieName" tmdb-enter="search(movieName)"></input>
    </div>
  </div>
</body>
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/services.js" type="text/javascript"></script>
<script src="scripts/controllers.js" type="text/javascript"></script>
<script src="scripts/directives.js" type="text/javascript"></script>

</html>
