.position{
    margin-left: 9%;
}
.inputs{
    border-color: rgba(255,255,255,255.12) !important;
}
.image-container{
    padding: 0.5%;
}
.images{
    height: 100%;
}
.white{
    color: #fff;
}
.card{
  width: 304px;
}
.body{
    background-color: black;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.movieCard{

}
/*
.mks-marketplace-contacts {}

.marketplace-profile-box {}

.card-styles {
    padding: 20px 25px;
    text-align: center;
}

.profile-image {
    width: 100px;
}

.profile-title {
    font-size: 1.2em;
    font-weight: 700;
}

.profile-location {
    i {
        margin-right: 10px;
    }
}

.profile-description {
    margin: 20px 0;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #666;
    min-height: 80px;
    padding: 0 20px;
}

.profile-tags {
    margin-top: 25px;
}

ul li {
    display: inline-block;
    background-color: #efefef;
    border-radius: 15px;
    padding: 5px 15px;
    margin-right: 10px;
    font-size: 0.9em;
}
*/
/*.mks-marketplace-contacts {
    .marketplace-profile-box {
        .card-styles;
        padding: 20px 25px;
        text-align: center;
        .profile-image {
            width: 100px;
        }
        .profile-title {
            font-size: 1.2em;
            font-weight: 700;
        }
        .profile-location {
            i {
                margin-right: 10px;
            }
        }
        .profile-description {
            margin: 20px 0;
            font-size: 0.9em;
            line-height: 1.5em;
            color: #666;
            min-height: 80px;
            padding: 0 20px;
        }
        .profile-tags {
            margin-top: 25px;
            ul li {
                display: inline-block;
                background-color: #efefef;
                border-radius: 15px;
                padding: 5px 15px;
                margin-right: 10px;
                font-size: 0.9em;
            }
        }
    }
}*/
