#placeHolderImage{
  width: 100%;
  height: 170px;
}
.position {
  margin-left: 9%;
}

.inputs {
  border-color: rgba(255, 255, 255, 255.12) !important;
}

textarea:focus,
input:focus {
  color: #ffffff;
}

input,
select,
textarea {
  color: #ffffff !important;
}

.image-container {
  /*padding: 2.5%;*/
  /*background-size: cover;*/
}

.images {
  height: 100%;
}

.white {
  color: #fff;
}

.card {
  width: 304px;
}

.body {
  background-color: black;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.movieCard {
  margin-right: 10px;
}

.overlay {
  background: rgba(0, 0, 0, .75);
  /*text-align: center;*/
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.overlay-text {
  display: none;
}

.parent-overlay {
  position: relative;
}

.parent-overlay:hover .overlay-text {
  position: absolute;
  display: initial;
  /*max-width: 75ch;*/
  /*width: 250px;*/
  height: 50%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /*z-index: -1000;*/
}

.parent-overlay:hover .overlay {
  opacity: 0.3;
 /* transform:scale(1.3);
  transition: 1.5s ease;*/
}
