.position {
  margin-left: 12%;
}

.myFlex {
  flex-wrap: wrap;
  justify-content: center;
}

.inputs {
  border-color: rgba(255, 255, 255, 255.12) !important;
}

.image-container {
  background: rgba(0, 0, 0, 1) !important;
  /*padding: 0.5%;*/
  cursor: pointer;
  /*cursor: hand;*/
}

.images {
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
  /*height: 100%;*/
}

.white {
  color: #fff;
}

.card {
  width: 305px;
  height: 100%;
}

.body {
  background-color: black;
  min-height: 100%;
  min-width: 100%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/*input{
    color: #fff;
}*/

textarea:focus,
input:focus {
  color: #ffffff;
}

input,
select,
textarea {
  color: #ffffff !important;
}

.movieCard {}

.parent-overlay:hover .overlay {
  opacity: 0.6;
  /*border: 0.2px solid white;*/
  -webkit-transition: opacity .45s ease;
  -moz-transition: opacity .45s ease cubic-bezier(0.21, 0.21, 0.32, 0.48);
}

.hide {
  display: none;
}

.parent-overlay:hover .hide {
  display: initial;
}

.overlay {
  /*background: rgba(0, 0, 0, 1);*/
  text-align: center;
  /*padding: 36px 0 36px 0;*/
  opacity: 1;
  -webkit-transition: opacity .45s ease;
  -moz-transition: opacity .45s ease cubic-bezier(0.21, 0.21, 0.32, 0.48);
}
